<div id="paginator" class="row">
    <!-- store top filter -->                         
        <ul class="store-pagination">
            {% if products.has_previous %}
                <li><a href="{{request.get_full_path}}&page={{ products.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                <li><a href="{{request.get_full_path}}&page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a></li>
            {% endif %}

            {% if products.number != products.paginator.num_pages  %}
                <li class="active"><a href="{{request.get_full_path}}&page={{ products.number }}">{{ products.number }}</a></li>
            {%endif%}
                <li> ... {{range}} </li>
            {%if products.number == products.paginator.num_pages%}
                <li class="active"><a href="{{request.get_full_path}}&page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a></li>
            {%else%}
                <li ><a href="{{request.get_full_path}}&page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a></li>
            {% endif %}
            {% if products.has_next %}
                <li><a href="{{request.get_full_path}}&page={{ products.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
    
        </ul></div>
    <!-- /store top filter -->

    <!-- store products -->

    <div class="row" >
    {%for product in products%}
        <!-- product -->
        <div class="col-md-4 col-xs-6" style="width: 250px;
        height: 450px; margin: 0 auto; padding: 10px;">
            <div class="product" >
                <div class="product-img">
                    
                    {%if product.image%}
                        <img width = "200" height="200" src="{{product.image.url}}" alt="{{product.get_absolute_url}">
                    {%else%}
                        <img width = "200" height="200" src="{{product.image_url}}" alt="{{product.get_absolute_url}">
                    {%endif%}
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NEW</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">{{product.category}}</p>
                    <h2 class="product-name"><a href="{{product.get_absolute_url}}">{{product.title}}</a></h2>
                    {%if product.price %}
                        <h4 class="product-price">{{product.price}} <del class="product-old-price">{{product.old_price}}</del></h4>
                    {%else%}
                        <h4 class="product-price">{{product.old_price}}</h4>
                    {%endif%}
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist" value="{{product.pid}}" onclick= "addWishList(this.value)"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                    </div>
                </div>
                <div class="add-to-cart">
                    {%if product.in_stock%}
                        <button class="add-to-cart-btn" value="{{product.pid}}" onclick= "addSingleFunction(this.value)">
                            <i class="fa fa-shopping-cart"></i> add to cart</button>
                    {%else%}
                        <button class="primary-btn" >
                            <i class="fa fa-shopping-cart"></i> Out of Stock</button>
                    {%endif%}
                </div>
            </div>
        </div>
    {%endfor%}
        <!-- /product -->
    

    </div>
    <!-- /store products -->

    <!-- store bottom filter -->

    <!-- /store bottom filter -->
