{% extends "index.html" %}
{%load static%}
{%block body%}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{%url 'index' %}">Home</a></li>
							<li><a href="{%url 'store' %}">All Categories</a></li>
							{%if category_%}
								<li><a href="{%url 'category-detail' category_.cid %}">{{category_.title}}</a></li>
							{%endif%}
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<form action="{% url 'store' %}" method="GET" id="product_filter_form">
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">
								{%for category in categories%}
									<div id ="filter-checkbox" class="input-checkbox">
										{%if category.cid in category_q%}
											<input class="filter-checkbox" type="checkbox" data-filter="category" value="{{category.id}}" id="{{category.title}}" checked>
										{%else%}
											<input class="filter-checkbox" type="checkbox" data-filter="category" value="{{category.id}}" id="{{category.title}}" >
										{%endif%}
										<label for="{{category}}">
											<span></span>
											{{category.title}}
											<small>(1)</small>
										</label>
									</div>
								{%endfor%}
								
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Price</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min" hidden>
									<input id="price-min" type="number" name="{{price_q.0}}">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max" hidden>
									<input id="price-max" type="number" name="{{price_q.1}}">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Brand</h3>
							<div class="checkbox-filter">
								{%for brand in brands%}
									<div class="input-checkbox">
                                        {%if brand.vid in vendor_q%}
										    <input data-filter="vendor" class="filter-checkbox" type="checkbox" id="{{brand.vid}}" value="{{brand.id}}" checked>
                                        {%else%}
                                            <input data-filter="vendor" class="filter-checkbox" type="checkbox" id="{{brand.vid}}" value="{{brand.id}}">
                                        {%endif%}
										<label for="{{brand.vid}}">
											<span></span>
											{{brand.title}}
											<small>({})</small>
										</label>
									</div>
								{%endfor%}
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Top selling</h3>
							{%for top in tops%}
							<div class="product-widget">
									<div class="product-img">
										{%if top.image%}
											<img src="{{top.image.url}}" alt="">
										{%else%}
											<img src="{{top.image_url}}" alt="">
										{%endif%}
									</div>
									<div class="product-body">
										<p class="product-category">{{top.category}}</p>
										<h3 class="product-name"><a href="{%url 'product-detail' top.pid %}">{{top.title}}</a></h3>
									</div>
								
							</div>
							{%endfor%}
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id ="sort-by" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select onchange="filter_product()"class="input-select">
										{%if sort == "0"%}
											<option value="0" selected>Price Ascending</option>
											<option value="1">Price Descending</option>
										{%else%}
											<option value="0">Price Ascending</option>
											<option value="1" selected>Price Descending</option>
										{%endif%}
									</select>
								</label>
							</div>
							<label>

							</label>
						</div>
					
					</form>
						<!-- /store top filter -->
					
						<!-- store products -->
							<div id ="filter-products" class="row">
								{%block filter%}
								<div id="paginator" class="row">
								<ul class="store-pagination">
									{% if products.has_previous %}
										
										<li><a href="{{request.get_full_path}}&page={{ products.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
										<li><a href="{{request.get_full_path}}&page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a></li>
									{% endif %}
		
									{% if products.number != products.paginator.num_pages  %}
										<li class="active"><a href="{{request.get_full_path}}&page={{ products.number }}">{{ products.number }}</a></li>
									{%endif%}
										<li> ... {{range}} </li>
									{%if products.number == products.paginator.num_pages%}
										<li class="active"><a href="{{request.get_full_path}}&page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a></li>
									{%else%}
										<li ><a href="{{request.get_full_path}}&page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a></li>
									{% endif %}
									{% if products.has_next %}
										<li><a href="{{request.get_full_path}}&page={{ products.next_page_number }}" onclick="UpdatePrice()"><i class="fa fa-angle-right"></i></a></li>
									{% endif %}
							
								</ul></div>
							{%for product in products%}
								<!-- product -->
								<div class="col-md-4 col-xs-6" style="   width: 250px;
								height: 450px; margin: 0 auto; padding: 10px;">
									<div class="product" >
										<div class="product-img">
											{%if product.image%}
												<img width = "200" height="200" src="{{product.image.url}}" alt="{{product.get_absolute_url}">
											{%else%}
												<img width = "200" height="200" src="{{product.image_url}}" alt="{{product.get_absolute_url}">
											{%endif%}
											{%if product.price %}
												<div class="product-label">
													<span class="sale">-{{product.get_percentage_discount}}%</span>
													<span class="new">NEW</span>
												</div>
											{%endif%}
										</div>
										<div class="product-body">
											<p class="product-category">{{product.category}}</p>
											<h2 class="product-name"><a href="{{product.get_absolute_url}}">{{product.title}}</a></h2>
											{%if product.price %}
												<h4 class="product-price">{{product.price}} <del class="product-old-price">{{product.old_price}}</del></h4>
											{%else%}
												<h4 class="product-price">{{product.old_price}}</h4>
											{%endif%}
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist" value="{{product.pid}}" onclick= "addWishList(this.value)"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											</div>
										</div>
										<div class="add-to-cart">
											{%if product.in_stock%}
												<button class="add-to-cart-btn" value="{{product.pid}}" onclick= "addSingleFunction(this.value)">
													<i class="fa fa-shopping-cart"></i> add to cart</button>
											{%else%}
												<button class="primary-btn" >
													<i class="fa fa-shopping-cart"></i> Out of Stock</button>
											{%endif%}
										</div>
									</div>
								</div>
							{%endfor%}
                                    <!-- /product -->

                                </div>
                            </div>
					{%endblock filter%}
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{%endblock body%}

{%block script%}
<script>

</script>
<script>
	function updatePriceSlider(elem , value) {
		if ( elem.hasClass('price-min') ) {
			console.log('min')
			priceSlider.noUiSlider.set([value, null]);
		} else if ( elem.hasClass('price-max')) {
			console.log('max')
			priceSlider.noUiSlider.set([null, value]);
		}}
	var priceInputMax = document.getElementById('price-max'),
	priceInputMin = document.getElementById('price-min');	
	var priceSlider = document.getElementById('price-slider');
	priceSlider.noUiSlider.updateOptions({
        range: {
            'min': parseInt($('#price-min').attr("name")),
            'max': parseInt($('#price-max').attr("name"))
        }
    });
</script>
<script>
	$(document).ready(function(){
		$(".filter-checkbox").on("click",function(){
			let filter_object = {};
			$(".filter-checkbox").each(function(){
				let filter_value = $(this).val();
				let filter_key = $(this).data("filter");
				console.log("Filter value:", filter_value);
				console.log("Filter key:", filter_key)
				filter_object[filter_key] = Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(element){
					return element.value
				});
			});
			var priceInputMax = document.getElementById('price-max'),
				priceInputMin = document.getElementById('price-min');
			
			const data  ={
				filter_category : filter_object.category,
				filter_vendor : filter_object.vendor,
				priceMin : priceInputMin.value,
				priceMax : priceInputMax.value,
				sort: $("#sort-by :selected").val()
			}
			console.log("Filter object: ", data);
			$.ajax({
				url:"{%url 'filter-product'%}",
				data: data,
				datatype: 'json',
				beforesend: function(){
					console.log("Sending data...");
				} ,
				success: function(response){
					
					$("#filter-products").html(response.data);
					
				}
			})
		})
	} )
</script>
<script>
	function filter_product() {
		let filter_object = {};
			$(".filter-checkbox").each(function(){
				let filter_value = $(this).val();
				let filter_key = $(this).data("filter");
				filter_object[filter_key] = Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(element){
					return element.value
				});
			});
			
			var priceInputMax = document.getElementById('price-max'),
				priceInputMin = document.getElementById('price-min');
			
			const data  ={
				filter_category : filter_object.category,
				filter_vendor : filter_object.vendor,
				priceMin : priceInputMin.value,
				priceMax : priceInputMax.value,
				sort: $("#sort-by :selected").val()
			}
			console.log("Sort by: ", $("#sort-by").value);
			$.ajax({
				url:"{%url 'filter-product'%}",
				data: data,
				datatype: 'json',
				beforesend: function(){
					console.log("Sending data...");
				} ,
				success: function(response){
					
					$("#filter-products").html(response.data);
					
				}
			})
		}
</script>
{%endblock script%}
