{% extends "index.html" %}
{%load static%}
{%block nav%}
{%endblock nav%}
{% block default_messages %}
	<div class="alert alert-info alert-dismissable" id ="message" style="display:none">
		<a class="panel-close close" data-dismiss="alert">×</a> 
		<i class="fa fa-coffee"></i>
	</div>
{% endblock default_messages %}
{%block body%}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{%url 'index'%}">Home</a></li>
							<li><a href="{%url 'store'%}">All Categories</a></li>
							<li><a href="{%url 'category-detail' cate.cid %}">{{cate.title}}</a></li>
							<li><a href="{%url 'product-detail' product.pid %}">{{product.title}}</a></li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								{%if product.image%}
									<img src="{{product.image.url}}" alt="">
								{%else%}
									<img src="{{product.image_url}}" alt="">
								{%endif%}
							</div>

							<div class="product-preview">
								<img src="./img/product03.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/product06.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/product08.png" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								{%if product.image%}
									<img src="{{product.image.url}}" alt="">
								{%else%}
									<img src="{{product.image_url}}" alt="">
								{%endif%}
							</div>

							<div class="product-preview">
								<img src="./img/product03.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/product06.png" alt="">
							</div>

							<div class="product-preview">
								<img src="./img/product08.png" alt="">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 id = "name_product" class="product-name" value="{{product.pid}}">{{product.title}}</h2>
							
							<div>
								<div class="product-rating">
									{%for star in range%}
										{%if star < rating.value%}
											<i class="fa fa-star"></i>
										{%else%}
											<i class="fa fa-star-o"></i>
										{%endif%}
									{%endfor%}
								</div>
								<a class="review-link">{{reviews.paginator.count}} Review(s)</a>
							</div>
							<div>
								{%if product.price %}
									<h4 class="product-price">{{product.price}} <del class="product-old-price">{{product.old_price}}</del></h4>
								{%else%}
									<h4 class="product-price">{{product.old_price}}</h4>
								{%endif%}
								{%if inventory.quantity > 0%}
									<span class="product-available">In Stock ({{inventory.quantity}})</span>
								{%else%}
									<span class="product-available">Out of Stock</span>
								{%endif%}
							</div>
							<p>{{product.description}}</p>


							<div class="add-to-cart">
								{%if inventory.quantity > 0%}
								<div class="qty-label">
									Qty
									<div class="input-number">
										<input id="quantity" type="number" value =1>
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								
									<button id = "add-to-cart" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
								{%endif%}
								<div id="mess" style="h3" class="alert alert-{{ message.level_tag }}">
									{{ message }}
								</div>
							</div>

							<ul class="product-btns">
								<button class="primary-btn" value="{{product.pid}}" onclick= "addWishList(this.value)" ><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
														
							</ul>

							<ul class="product-links">
								<li>Category:</li>
								<li><a href="{%url 'category-detail' product.category.cid%}">{{product.category}}</a></li>
							</ul>
							<ul class="product-links">
								<li>Brand:</li>
								<li><a href="{%url 'vendor-detail' vendor.vid%}">{{vendor.title}}</a></li>
							</ul>
							<ul class="product-links">
								<li>Share:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>
							<hr>
							<a class="primary-btn" id = "name_product" value="{{product.pid}}">Sold: {{sold}}</a>
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">{{product.decription}}</a></li>
								<li><a data-toggle="tab" href="#tab2">Details</a></li>
								<li><a data-toggle="tab" href="#tab3">Reviews ({{reviews.paginator.count}})</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										</div>
									</div>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>{{rating.value}}</span>
													{% for star in range %}
														{% if star < rating.value %}
															<i class="fa fa-star"></i>
														{% else %}
															<i class="fa fa-star-o empty"></i>
														{% endif %}
												{% endfor %}
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: {{percentage.4}}%;"></div>
														</div>
														<span class="sum">{{ratings.4}}</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width:{{percentage.3}}%;"></div>
														</div>
														<span class="sum">{{ratings.3}}</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width:{{percentage.2}}%;"></div>
														</div>
														<span class="sum">{{ratings.2}}</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width:{{percentage.1}}%;"></div>
														</div>
														<span class="sum">{{ratings.1}}</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width:{{percentage.0}}%;"></div>
														</div>
														<span class="sum">{{ratings.0}}</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											
											{%for review in reviews%}
												<div id="reviews">
													<ul class="reviews">
														<li>
															
															<div class="review-heading">
																<h5 class="name">{{review.user.first_name}} {{review.user.last_name}}</h5>
																<p class="date">{{review.date}}</p>
																
																<div class="review-rating">
																{% for star in range %}
																	{% if star < review.rating %}
																		<i class="fa fa-star"></i>
																	{% else %}
																		<i class="fa fa-star-o empty"></i>
																	{% endif %}
																{% endfor %}
																</div>
															</div>
															<div class="review-body">
																<p>{{review.review}}</p>
															</div>
														</li>
													</ul>
												</div>
											{%endfor%}
											<ul class="reviews-pagination">
												{% if reviews.has_previous %}
													<li><a href="?page={{ reviews.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
													<li><a href="?page={{ reviews.previous_page_number }}">{{ reviews.previous_page_number }}</a></li>
												{% endif %}
				
												{% if reviews.number != reviews.paginator.num_pages  %}
													<li><a href="?page={{ reviews.number }}">{{ reviews.number }}</a></li>
												{%endif%}
												{%if reviews.number == reviews.paginator.num_pages%}
													<li class="active"><a href="?page={{ reviews.paginator.num_pages }}">{{ reviews.paginator.num_pages }}</a></li>
												{%else%}
													<li ><a href="?page={{ reviews.paginator.num_pages }}">{{ reviews.paginator.num_pages }}</a></li>
												{% endif %}
												{% if reviews.has_next %}
													<li><a href="?page={{ reviews.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
												{% endif %}
											</ul>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form">
	
													<textarea id="review1" class="input" placeholder="Your Review"></textarea>
													<div class="input-rating">
														<span>Your Rating: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
												</form>
												<button class="primary-btn" value = "{{product.pid}}" onclick = "rwFunction(this.value)">Submit</button>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Related Products</h3>
						</div>
					</div>

					<!-- product -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
					{%for product_related in products_related%}
						<div class="col-md-3 col-xs-6">
							<div class="product">
								<div class="product-img">
									{%if product_related.image%}
										<img src="{{product_related.image.url}}" alt="">
									{%else%}
										<img src="{{product_related.image_url}}" alt="">
									{%endif%}
									{%if product_related.price %}
									<div class="product-label">
										<span class="sale">-{{product_related.get_percentage_discount}}%</span>
										<span class="new">NEW</span>
									</div>
								{%endif%}
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="{%url 'product-detail' product_related.pid%}">{{product_related.title}}</a></h3>
									{%if product_related.price %}
									<h4 class="product-price">{{product_related.price}} <del class="product-old-price">{{product_related.old_price}}</del></h4>
									{%else%}
										<h4 class="product-price">{{product_related.old_price}}</h4>
									{%endif%}
									<div class="product-rating">
									</div>
									<div class="product-btns">
										<button class="add-to-wishlist" value="{{product_related.pid}}" onclick= "addWishList(this.value)"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									</div>
								</div>
								<div class="add-to-cart">
									{%if product.in_stock%}
										<button class="add-to-cart-btn" value="{{product_related.pid}}" onclick= "addSingleFunction(this.value)">
											<i class="fa fa-shopping-cart"></i> add to cart</button>
									{%else%}
										<button class="primary-btn" >
											<i class="fa fa-shopping-cart"></i> Out of Stock</button>
									{%endif%}
								</div>
							</div>
						</div>
						{%endfor%}
					</div>
				</div>
				<!-- Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
					<!-- /product -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->
{%endblock body%}

{%block script%}
	<script>
	$(document).ready(function(){
		var pid = $('#name_product').attr('value');
		$("#quantity").on("change",function(){
			var qty = $('#quantity').val();
			console.log("quantity update: ",qty);
			console.log("pid: ",pid);
			$.ajax({
				url:'/check-product',
				type:"GET",
				data: {
					pid: pid,
					qty: qty,
				},
				success: function(response) {
					console.log(response.messages);
					var mess = response.messages;
					if(mess !=""){
						$("#add-to-cart").hide();
						$("#mess").show();
						$("#mess").html(mess);
					}
					else{
						$("#add-to-cart").show();
						$("#mess").hide();
					}
				}
			});
		});
		$("#add-to-cart").on("click",function(){
			var qty = $('#quantity').val();
			$.ajax({
				url:'/add-to-cart',
				type: "GET",
				data: {
					pid: pid,
					qty: qty,
				},
				success: function(response){
					document.querySelector('#message').innerHTML = response.messages; 
					 $("#message").fadeIn(1000);
					// Ẩn thông báo sau 2 giây
					setTimeout(function() {
					  $("#message").fadeOut(1000);
					}, 2000);
					console.log(response.messages);
				}
			});
		});
})

var rating = 0;
$(':radio').change(function() {
	console.log('New star rating: ' + this.value);
	rating = this.value;
  });
const textarea = document.querySelector('#review1');

textarea.addEventListener('input', (event) => {
	// Hiển thị giá trị hiện tại của ô văn bản
	console.log(event.target.value);
	textarea.value = event.target.value;
  });
function rwFunction(pid){
	console.log(pid);
	var review = $("#review1").val();
	console.log(review,rating);
	$.ajax({
		url:'/add-review',
		type: "GET",
		data:{
			'pid':pid,
			'review':review,
			'stars':rating
		},
		success: function(response){
			console.log("Add review");
			window.location.reload() ;
		}
	})
}
	</script>
{%endblock script%}  