{%extends "index.html"%}
{%block body%}
<div class="container">
    <div class="row" id="filter-products">
        {%for product in products%}
            <!-- product -->
            <div class="col-md-4 col-xs-6" style="   width: 250px;
            height: 450px; margin: 0 auto; padding: 10px;">
                <div class="product" >
                    <div class="product-img">
                        
                        {%if product.image%}
                            <img width = "200" height="200" src="{{product.image.url}}" alt="{{product.get_absolute_url}">
                        {%else%}
                            <img width = "200" height="200" src="{{product.image_url}}" alt="{{product.get_absolute_url}">
                        {%endif%}
                        {%if product.price %}
                        <div class="product-label">
                            <span class="sale">-{{product.get_percentage_discount}}%</span>
                            <span class="new">NEW</span>
                        </div>
                    {%endif%}
                    </div>
                    <div class="product-body">
                        <p class="product-category">{{product.category}}</p>
                        <h2 class="product-name"><a href="{{product.get_absolute_url}}">{{product.title}}</a></h2>
                        {%if product.price %}
                            <h4 class="product-price">{{product.price}} <del class="product-old-price">{{product.old_price}}</del></h4>
                        {%else%}
                            <h4 class="product-price">{{product.old_price}}</h4>
                        {%endif%}
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <a href="{%url 'remove-from-wishlist' product.pid%}"class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Remove</span></a>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        {%if product.in_stock%}
                            <button class="add-to-cart-btn" value="{{product.pid}}" onclick= "addSingleFunction(this.value)">
                                <i class="fa fa-shopping-cart"></i> add to cart</button>
                        {%else%}
                            <button class="primary-btn" >
                                <i class="fa fa-shopping-cart"></i> Out of Stock</button>
                        {%endif%}
                    </div>
                </div>
            </div>
        {%endfor%}
        <!-- /product -->
    
</div>
{%endblock body%}